[DEFAULT]
ignoreip = 127.0.0.1/8

[{{ app_name }}]
enabled  = {{ fail2ban_enabled }}
{% if fail2ban_action != "" %}
action   = {{ fail2ban_action }}
{% endif %}
backend  = {{ fail2ban_backend }}
logpath  = {{ fail2ban_logpath }}
maxretry = {{ fail2ban_maxretry }}
findtime = {{ fail2ban_findtime }}
bantime  = {{ fail2ban_bantime }}
